<div style="background-color:#FFDD51;">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Notre team</h1>
    <p class="lead">Voici la team</p>
  </div>
</div>

<footer>

<ul class="list-group list-group-flush">
  <li class="list-group-item">James</li>
  <li class="list-group-item">Yoni</li>
  <li class="list-group-item">Zoran</li>
  <li class="list-group-item">Julien</li>
  <li class="list-group-item">Ombeline</li>
</ul>
</footer>
			</ul>
		</div>
	</div>
</div>

