
<body style="background-color:#D8C3C3;">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contactez-nous !</h1>
<p>Comment nous contacter ? </p>

  </div>
</div>
<body>