footer, body {
	
	bottom-margin : 20px;
	font-family: "Times New Roman", Times, serif;


}


.card {

	margin : 50px;
	font-family: "Times New Roman", Times, serif;


}

div {

	margin : 2px;
		font-family: "Times New Roman", Times, serif;

     		
}



.lala

{
	
margin-left : 20px;

}

